<link rel="stylesheet" href="prod-details.component.scss">


<div id="detail_prod">

    <h1>Détails du produit :</h1>

        <div class="input-group">
            <p>Nom :</p>
            <input id="prod_name">
        </div>

        <div class="input-group">
            <p>Texture :</p>
            <input id="prod_texture">
        </div>

        <div class="input-group">
            <p>Grammage :</p>
            <input id="prod_gramm">
        </div>

        <div class="input-group">
            <p>Couleur :</p>
            <input id="prod_color">
        </div>

    <div class="button-container">

        <button id="Valid">Valider</button>
        <button id="Cancel">Annuler</button>

    </div>
</div>
